@import "../../variables/Variables.scss";
.project-details {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: start;
  grid-gap: 60px;
  font-size:0.9em;
  textarea {
  padding: 8px 6px;
  font-size: 1.4em;
  height: 4vh;
  color: #777;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}
textarea {
  height: 18vh;
}
.project-summary {
    background-color: $backGroundColor;
    padding:30px;
    border-radius: 4px;
}
.project-summary h2 {
    font-size:1.8rem;
    color:#53ab98 ;
}

.project-summary .due-date {
    margin: 10px 0;
    font-size:  1rem;
    color: #2b6777;
    font-size:bold;

}
.project-summary .details {
    margin: 30px 0;
    color: #2b6777;
    line-height: 1.8rem;
    font-size: 1.5em;
}
.project-summary h4 {
    color: $textColorMedium;
    font-size: 1.6em;
}
.project-summary .assigned-users {
    display:flex;
    margin-top: 20px;
}
.project-summary .assigned-users .avatar {
    margin-right: 10px;
}
.project-summary + .btn {
    margin-top: 20px;
}

.project-comments label {
    margin-bottom: 0px;
   
}

.project-comments h4 {
    color:#2b6777;
    font-size: 2rem;
}
.project-comments li {
    padding:16px;
    border-radius: 4px;
    border:1px solid #f2f2f2;
    margin-top: 20px;
  
    background-color: #fff
}
.comment-author {
    display: flex;
    align-items: center;
    color: green;
}
.comment-author .avatar {
    width:40px;
    height:40px;
    margin-right:10px;
}
.comment-date {
    color: green;
    font-size: 0.9em;
    margin-top: 4px 0 10px;
}
.comment-content {
    color: #e2915f;
    font-size: 1.4em;

}
}


