.project-list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 20px;
}
.project-list a {
  background-color: #f2f2f2;
  padding: 17px;
  border-radius: 6px;
  box-shadow: 3px 3px 5px #ffffff);
  text-decoration: none;
  color: inherit;
  height:auto;
}
.project-list ,h2 {
  font-size: 1.2em;
  color: #52ab98;
}
.project-list p {
  color: #2b6777;
  font-size: 1em;
}
.project-list .assigned-to {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #eee;
}
.project-list ul {
  margin: 10px 0;
  display: flex;
}
.project-list li {
  margin-right: 10px;
}
.project-list .avatar {
  width: 60px;
  height: 60px;
}