.main-content {
    position: absolute;
    top:30%;
    left:30%;
    transform: translateY(-30% -25%);
}
.login-content {

  background: transparent;
  border-color: transparent;
  color: var( --clr-primary-10);
  transition: var(--transition);
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
  
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}