@import '../../variables/Variables.scss';
.personal-list {
  max-width: 20rem;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 20px;
  

 .avatar {
  width: 40px;
  height: 40px;
}
  
}
 button {
    @include buttonStyle($paragraphColorSmall,1rem,$backGroundColor,$cardsBackgroundColor)
   }




.button-container { 
  max-width:30rem;
  margin:auto;
  padding:2em;
  display:flex;
  justify-content:space-around;
}
