.navbar {
    width: 100%;
    padding: 30px ;
    box-sizing: border-box;
    margin-bottom: 80px;

}

.navbar ul {
    display: flex;
    margin: 0 auto;
   justify-content:flex-end;
   
    
    width: 100;
    
    

}
.btn-logout {
  background: #3648c9;
  padding: 9px 12px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 1.4em;
  border: none;
}
.btn-logout:hover {
  color: #fff;
  background-color: #fcde67;
  transition: ease-out 0.3s;
}


.navbar .logo {
    font-weight: bold;
    color: var(--heading-color);
    letter-spacing: 1px;
    display:flex;
    align-items: center;
 
    margin-right: auto;
    
}
.navbar .logo img {
 
    margin-right: 10px;
    filter: invert(25%);
    width: 36px;
    margin-top: -8px;
    width:5rem;
    height:5rem;
}
.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;

}