@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import './variables/Variables.scss';

:root {
  
  --bg-color: #c8d8e4;
  
}


/* base styles */
body {
  font-family: Poppins, sans-serif;
  margin: 0;
  font-size: 1.1em;
  background:$bodyBack;
}
ul,
li,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}

/* layout */

.btn {
  background: #52ab98;
  padding: 9px 12px;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.2em;
  border: none;
}


/* forms */

.error {
  color: red;
  background: pink;
  border: 1px solid red;
  border-radius: 4px;
  padding: 8px;
  margin: 10px 0;
}

/*
=============== 
Modal
===============
*/
