@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import './variables/Variables.scss';

:root {
  --heading-color: #bcbcbc;
  --text-color: #c8d8e4;
  --primary-color: #8d69f1;
  --highlight-color: #800000;
  --bg-color: #c8d8e4;
  --transition: all 0.3s linear;
  --radius: 0.25rem;
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-grey-7: hsl(211, 27%, 70%);
}


/* base styles */
body {
  font-family: Poppins, sans-serif;
  margin: 0;
  font-size: 1.1em;
  background:$bodyBack;
}
ul,
li,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}

/* layout */

.btn {
  background: #52ab98;
  padding: 9px 12px;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.2em;
  border: none;
}
.btn:hover {
 
}

/* forms */

.error {
  color: red;
  background: pink;
  border: 1px solid red;
  border-radius: 4px;
  padding: 8px;
  margin: 10px 0;
}

/*
=============== 
Modal
===============
*/
